<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Principle</key>
		<array>
			<dict>
				<key>Runtime</key>
				<array>
					<string>Property</string>
					<string>MethodSwizzling</string>
				</array>
			</dict>
			<dict>
				<key>Recycle</key>
				<array/>
			</dict>
			<dict>
				<key>Thread</key>
				<array>
					<string>GCD</string>
				</array>
			</dict>
			<dict>
				<key>Archives and Serializations</key>
				<array>
					<string>Archive</string>
					<string>Serialization</string>
				</array>
			</dict>
			<dict>
				<key>Protocal</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Foundation</key>
		<array>
			<dict>
				<key>Block</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>UI</key>
		<array>
			<string>Image</string>
		</array>
	</dict>
	<dict>
		<key>Vendor</key>
		<array>
			<dict>
				<key>Optimize</key>
				<array>
					<string>FastImageCache</string>
				</array>
			</dict>
			<dict>
				<key>Debug</key>
				<array>
					<string>CocoaLumberjack</string>
				</array>
			</dict>
			<dict>
				<key>Network</key>
				<array>
					<string>AFNetworking</string>
					<string>SDWebImage</string>
				</array>
			</dict>
			<dict>
				<key>UI</key>
				<array>
					<dict>
						<key>Auto Layout</key>
						<array>
							<string>Masonry</string>
							<string>PureLayout</string>
						</array>
					</dict>
					<dict>
						<key>Color</key>
						<array>
							<string>Chameleon</string>
						</array>
					</dict>
					<dict>
						<key>Refresh</key>
						<array>
							<string>MJRefresh</string>
						</array>
					</dict>
					<dict>
						<key>HUD</key>
						<array>
							<string>MBProgressHUD</string>
							<string>SVProgressHUD</string>
						</array>
					</dict>
					<dict>
						<key>Keyboard</key>
						<array>
							<string>IQKeyboardManager</string>
						</array>
					</dict>
					<dict>
						<key>Empty</key>
						<array>
							<string>DZNEmptyDataSet</string>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Data</key>
				<array>
					<dict>
						<key>Model</key>
						<array>
							<string>Mantle</string>
							<string>MJExtension</string>
						</array>
					</dict>
					<dict>
						<key>Persistence</key>
						<array>
							<dict>
								<key>CoreData</key>
								<array>
									<string>MagicalRecord</string>
								</array>
							</dict>
							<dict>
								<key>Database</key>
								<array>
									<string>fmdb</string>
									<string>realm</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
